/* font-family, font-size, font-weight, text-align, color, background-color, width, height */

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #22223b;
    background-color: #f2e9e4;
}
